.form {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

.header {
  max-width: 80%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
}
